.cell {
	width: 50px;
	height: 50px;
	margin: 10px;
	font-size: 20px;
	float:left;
}

#calc {
	width: 400px;
	margin: 200px auto;
}

#display {
	width:342px;
	padding: 10px;
	font-size: 36px;
	background-color: #ededed;
	margin-bottom: 15px;
}



.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }

* html .row { height: 1%; }
.row { display: block; }




.cell {
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
    border-radius: 10px;
    font-family: 'Helvetica', cursive;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;  
    background-color: #3498DB;
    border-bottom: 5px solid grey;
    text-shadow: 0px -2px grey;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.cell:hover, 
.cell:focus {
    text-decoration: none;
    color: #fff;
}
