h3,h2,p{
	margin-bottom: 0px;
	margin-top: 0px;
}
.header{
	width: 100%;
	//height: 20%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.pad{
	padding: 5px;
}
.name_date{
	width:40%;
	display: inline-block;
}
.papertype{
	display: inline-block;
	width:50%;
}
.pageno{
	display: inline-block;
	width:8%;
	text-align: right;
}
.papertype h3 strong:first-child{
	color : red;
}
#p1{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 15px;	
}
.statoistics{
	width: 25%;
	float : left;
}
.section_1{
	width:75%;
	float: left;
}
.section_1_1{
	width:12%;
	float : left;
	margin-top: 5px;
}
#h1{
	margin : 0px;
}
.section_1_2{
	width:86%;
	float : left;
}
.section_1_2_1{
	width:100%;
	float : left;
}
.section_1_2_2
{
	width:18%;
	float:left;
}
.section_1_2_3
{
	width:37%;
	float:left;
}
.section_1_2_4
{
	width:42%;
	float:left;
}
.section_1_2_3_1{
	width:100%;
	float:left;
}
.section_1_2_3_1_1{
	width:100%;
	float:left;
}
.section_1_2_3_1_2{
	width:100%;
	float:left;
	border-bottom: 2px solid red;
}
.section_1_2_3_2{
	width:46%;
	float:left;
}
.section_1_2_3_3{
	width:46%;
	float:left;
}
.section_1_2_4_1{
	width:100%;
	float:left;
} 
.section_1_2_4_2{
	width:46%;
	float:left;
} 
.section_1_2_4_3{
	width:46%;
	float:left;
} 
.section_1_2_4_3_1 {
	width:100%;
	float:left;

}
.section_1_2_4_3_2{
	width:100%;
	float:left;
	border-top: 1px solid grey;
	border-bottom: 1px solid red;

}
.section_1_2_4_3_3 {
	width:100%;
	float:left;

}

/* .section_2_1{
	width: 25%;
	float: left;
} */
.section_2_1_1{
	width: 100%;
	float: left;
}
.section_2_1_2{
	width: 45%;
	float: left;
}
.section_2_1_3{
	width: 45%;
	float: left;
}
.section_2_2{
	width:37.5%;
	float:left;
}
.section_2_2_1{
	width:100%;
	float:left;
}
.section_2_2_2{
	width:30%;
	float:left;
}
.section_2_2_3{
	width:30%;
	float:left;
}.section_2_2_4{
	width:30%;
	float:left;
}
.section_2_3{
	width:36%;
	float:left;
}
.section_2_3_1{
	width:100%;
	float:left;
}
.section_2_3_2{
	width:30%;
	float:left;
}
.section_2_3_3{
	width:30%;
	float:left;
}.section_2_3_4{
	width:30%;
	float:left;
}
.section_3{
	width: 100%;
	float:left;
	border-top: 1px solid grey;
}
.section_3_1{
	width:100%;
	float:left;
}
.section_3_2{
	width: 35%;
	float:left;
}
.section_3_2_1{
	width: 100%;
	float:left;
}
.section_3_2_2{
	border-top:1px solid grey;
	border-bottom: 1px solid grey; 
	width: 100%;
	float:left;
}
.section_3_2_3{
	width: 100%;
	float:left;
}
.section_3_2_3_1{
	width: 60%;
	float:left;
}
.section_3_2_3_2{
	width: 30%;
	float:left;
}
.section_3_2_3_2_1{
	float:left;
}
.section_3_2_3_2_2{
	float:left;
}
.section_3_3{
	width:63%;
	float:left;
}