body{
  width=100%;
}

p{
  font-size:.7em;
  margin:0em;
}

h4,h6{
  margin-top:0.7em;
  margin-bottom:0.7em;
}

h2{
  margin-top:0em;
  margin-bottom:0.4em;
}


/* ------HEADER---- */
#tbl{
  width:100%;
  border-collapse: collapse;
  
}
div h1 strong:first-child{
  color:red;
}

td{
  width:15%;
}

div td img{
  width:90%;
  height:40%;
  margin-left:5%;
  margin-top:10px;

}

#t1{
  background-color:red;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  color:white;
  font-family:Arial;
  font-size:90%;
}

#t2{
  background-color:blue;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  color:white;
  font-family:Arial;
  font-size:90%;
}

#t3 h1{
  margin:0px;
}

#t3 small{
  margin:0px;
}



#t4 img{
  border:2px solid #3c9cd6;

}

h3{
  margin:0px 20px 0px 20px;
}

div h1{
  font-size:4em;
}
div div.headerImage{
  position:absolute;
  right:0;
  top:3em;
  width:8em;
  height:6em;
  background-color:black
  
}

div small{
  font-size:70%;
  margin-top:0px;
}



/* ------Main---- */
.main{
  padding-top:20px;
  font-family:Arial;
}

#left{
  float:left;
  border:1px solid black;
  width:16%;
  padding:0px 10px 5px 10px;

}

#h1{
  border-bottom:4px solid red;
}

#left img{
  width:100%;
  border: 1px solid black;
}

#p1{
  border-bottom:1px solid black;
  padding-bottom:2px;
}

#h2{
  color:grey;
  border-top:1px solid black;
  border-bottom:2px solid red;
  text-align:center;
}

#p3 b{
  color:red;
}

#p3{
  border-bottom:1px solid black;
  margin-bottom:10px;
}

/*-------main right-----*/
#parent1{
  position:relative;
  padding:0px;  
  width:82%;
  float:left;
  border-bottom:2px dotted black;
}

#right0{
  float:left;
  width:61%;
  padding-left:20px;
}

#right0 h1{
  line-height:1em;
  margin-top:0px;
  text-align:justify;
  font-size:430%;
  margin-bottom:0px;
}
#right1{
  float:left;
  width:36%;
  border:2px solid black;
  top:0px;
  margin:0px;
}

.c5{
  display:inline-block;
  width:47%;
  padding:5px 5px 5px 5px;
  text-align:justify;
}

.c5 h4{
  color:red;
  margin:0px;
}

#right2 h3{
  text-align:center;
}

#parent1 #right2{
   float:left;
   width:23%;
   padding:10px;
   text-align:justify;
}

#right2 img{
  width:100%;
}

#right3{
  float:left;
  width:75%;
}

#right31{
  padding: 10px 5px 10px 0px;
}

#right31 img{
  width:100%;
  height:100%;
}

#right32{
  border-left:2px solid black;
  padding:5px 5px 10px 0px;
}

#right321 h1{
  text-align:center;
  font-size:225%;
  margin-top:-10px;
  margin-bottom:10px;
}

#right321{
  margin-bottom:10px;
}


.c6{
  display:inline-block;
  width:23%;
  padding-left:10px;
  text-align:justify;
}

#right322{
  margin-left:10px;
  border-top:2px solid black; 
  padding-right:0px; 
}

.c7{
  width:49%;
  display:inline-block;
}

#right322 h1{
   font-size:225%;
  margin-top:0px;
  margin-bottom:10px;
  text-align:center;
}



.c8{
  width:46%;
  display:inline-block;
  padding-right:10px;
  text-align:justify;
}

.c9{
  width:46%;
  display:inline-block;
  padding-left:10px;
  text-align:justify;
}
 
#right322 img{
  width:100%;
}

#p4 b{
  color:red;
}

#p4{
  border-bottom:2px solid black;
  padding-bottom:5px;
  margin-bottom:5px;
}

#right3221{
  background-color:grey;
  padding:10px 10px 10px 10px;
  margin-bottom:8px;
}

#p5 b{
  color:red;
  margin-bottom:10px;

}

#p5{
  
}


/* ------Footer---- */
.footer{
  padding-top:20px;
  font-family:Arial;
  border-bottom:2px solid black;
  clear:left;
}

.c4{
  display: inline-block;
}

#d1{
  width:30%; 
  heigth:100%;
}

#d1 h2{
  font-family:Times New Roman;
  font-weight: normal;
  text-align: justify;
  padding-right:5px;
}

.c1{
  display: inline-block;
  text-align: justify;
  width:46%;
  padding-left:5px;
  padding-right:5px;
}

#d2{
  width:48%;
  border-left:1px dotted black;
  border-right:1px dotted black;
  text-align: justify;
  heigth:100%;
}
#d2 h2,h3{
  text-align:center;
}

.c2{
  display: inline-block;
  width:30%;
  padding-left:5px;
  padding-right:5px;
}
.c2 img{
  width:100%;
  height:100%;
  border:1px solid black;
}
#p2{
  border-bottom:1px solid black;
  padding-bottom:5px;
  margin-bottom:5px;
}

#d3{
  width:20%;
  heigth:100;%
}
#d3 h2{
  font-family:Times New Roman;
  font-weight: normal;
  text-align: center;
  padding-left:5px;
}

.c3{
  padding-left:5px;
}

.c3 img{
  float:left;
  padding-top:5px;
  margin-right:5px;
  margin-bottom:5px;
}