h1 {
	text-align: center;
	}

div.insideHeaderLeft {
	width: 50%;
	height: 60px;
	float: left;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #6960EC;
}

div.insideHeaderRight {
	width: 50%;
	height: 60px;
	float: right;
	font-size: 20px;
	text-transform: uppercase;
	background-color: #FFE87C;
}

.header {
	width: 100%;
	height: 60px;
	border: 2px solid black;
}

#container {
	border-collapse: collapse;
}

div.A {
	width: 49.9%;
	height: 2000px;
	float: left;
	border-collapse: collapse;
}

.B {
	border-left: 1px dotted;
	width: 49.905%;
	height: 2000px;
	float: right;
	border-collapse: collapse;
}

#one {
	word-spacing : 5px;
	border-bottom: 1px dotted;
	width: 100%;
	height: 800px;
	border-collapse: inherit;
}

#oneOne {
	width: 25%;
	float: left;
	text-align: justify;
}

#oneTwo {
	width: 38%;
	height: 100%;
	display: inline;
	text-align: justify;
    
}

#oneTwoOne {
	width: 48%;
	height: 40%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	word-spacing : 1px;
}

#oneTwoOneDown {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 2;
}

#oneTwoTwo {
	width: 48%;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 2;
	position: relative;
	left: -85px;
}

#oneThree {
	width: 25%;
	height: 100%;
	float: right;
	text-align: justify;
	position: relative;
	bottom: 640px;
}

#two {
	border-right: 1px dotted;
	width: 34%;
	height:900px;
	display: inline;
	float: left;
}

#three {
	width: 65.5%;
	height: 900px;
	border-collapse: inherit;
	display: inline;
	float: right;
	
}

#threeOne {
	width: 33%;
	float: left;
	text-align: justify;
}

#threeTwo {
	width: 33%;
	height: 100%;
	display: inline;
    
}

#threeTwoOne {
	width: 33%;
	height: 33%;
	word-spacing : 1px;
	Border-top : 1px solid;
	position: relative;
	left: 10px;
	bottom: -35px;
}

#threeTwoTwo {
	Border-left: 4px solid red;
	width: 33%;
	height: 25%;
	position: relative;
	bottom: 70px;
	left: 13px;
	font-weight: bold;
	font-size: 12pt;
}

#threeTwoThree {
	width: 33%;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 1;
	position: relative;
	left: -60px;
	bottom: 80px;
	text-align: justify;
}

#threeThree {
	width: 30%;
	height: 100%;
	float: right;
	text-align: justify;
	position: relative;
	bottom: 830px;
}

#four {
	border-right: 1px dotted;
	width: 49.5%;
	height:800px;
	border-collapse: collapse;
	text-transform: uppercase;
	float: left;
}

#five {
	width: 50%;
	height: 800px;
	border-collapse: collapse;
	text-transform: uppercase;
	float: right;
}

#six {
	border-top: 1px dotted;
	border-bottom: 1px dotted;
	width: 100%;
	height:200px;
	border-collapse: collapse;
	float: right;
}

#nine {
	border-top: 1px dotted;
	width: 100%;
	height:400px;
	border-collapse: collapse;
	/*float: left;*/
	clear: both;
}

#seven{
	border-right: 1px dotted;
	width: 33%;
	height:900px;
	border-collapse: collapse;
	text-transform: uppercase;
	display: inline;
	float: left;
}

#eight {
	width: 66.5%;
	height: 900px;
	border-collapse: collapse;
	text-transform: uppercase;
	display: inline;
	float: right;
}

table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 250px;
	display: inline;
	table-layout: fixed;
	position: relative;
	
}

td {
    border: 1px solid;
    text-align: left;
	font-size:12pt;
}

th {
	border: 1px solid;
	text-align: center;
	font-size: 10pt;
	text-decoration: bold;
	color: white;
	border-color: black;
	background-color: #338dff;
}

tr:nth-child(odd) {
    background-color: #33ddff;
}

tr:last-child{
	border-bottom: 2px solid;
}

#two p {
	text-align: justify;
	padding: 5px;
}

.textwrap {
	margin : 5px;
}

#threeTwoOne table {
	font-family: sans-serif;
    border-collapse: collapse;
	border-right-color: white;
    width: 150px;
	display: inline;
	table-layout: fixed;
	position: relative;
}

#threeTwoOne td {
    border: 1px solid;
	border-right-color: white;
    text-align: left;
	font-size:8pt;
}

tr:nth-child(odd) {
    background-color: #33ddff;
}