  p#header1{
    font-size:12px;
    font-weight:bold;
    margin-top:4px;
}
p#header2{
    font-size:12px;
    font-weight:bold;
    margin-top:-15px;
}
p#header3{
    font-size:25px;
    font-weight:bold;
    margin-top: -40px;
    margin-bottom: 3px;
}
p#header4{
   font-size:25px; 
   font-weight:bold;
   margin-top: -30px;
    margin-bottom: -9px;
    padding-left:1100px;
  
}

  body{
  	margin-top: 0px;
  	margin-right: 10px;
  	margin-bottom:0px;
  	margin-left: 10px;
  }

   hr{

   	margin-top: 10px ;
   	margin-right: 0px;
   	margin-bottom: 0px;
   	margin-left:0px;  }

  .article2{  
    margin-top: -1010px;
    margin-bottom:0px ;
    margin-right: -1985px;
    margin-left: 1165px;
    width:13%;
    height:1000px;
   }
   .p1 {
   	line-height: 0px;
   }

   .h2{
     margin:0px;
   }

   .h3{
   	margin:0px 50px 0px 0px;
   }

   .railway{
   	  
       font-size:66;
       color:red;
       margin:0px;
       -webkit-column-span: all;
	   column-span:all;
	   width: 646.8px;
	   text-align:center;
   }

   .startup{
       font-size:51;
       color:black;
       font-weight:bold;
       margin:0px;
       -webkit-column-span: all;
	   column-span:all;
	   width:646.8px;
	   text-align:justify;
   }

   .article1{  
    margin-top: 5px;
    margin-bottom:0px ;
    margin-right: 250px;
    margin-left: 5px;
    text-align: justify;
    height:1000px;
    width:85%;

   }

   .image1{
      float: left;
      clear:none;
      width:60%;
   	/* -webkit-column-span: 3;
   		   column-span:3; */
   }

   .matter1{
   	-webkit-column-count:4; /* Safari and Chrome */
       column-count:4;
   }

   .part1{
   	float:left;
   	width:17%;
   	margin-right: 20px;
    margin-left: 5px;
    height:1000px;
   }

   .part2{
   	float:left;
   	width:60%;
   	margin-right: 0px;
    margin-left: 0px;
    height:1000px;
   }

   .part3{
   	float:left;
   	width:100%;
   }

   .spancol{
   	float:left;
   	width:100%;
    -webkit-column-count: 3;
    column-count:3;
    height:500px;

   }

   .part4{
   	float:left;
   	width:17%;
    margin-right: 5px;
    margin-left: 20px;
    height:1000;
   }

   .article3{
   		width:67%;
   		height:792px;
   }

   .article4{
   		width:28%;
   		margin-top:-780px;
   		margin-right:0px;
   		margin-bottom: 0px;
   		margin-left:900px; 
   		height:792px; 
   	 }

   	.old{
   		margin-top:10px;
   		font-size:43;
   		font-weight: bold;
   		text-align:justify;
   	}

   	.col1{
   		margin-top:10px;
		width:23%;
		float:left;
		margin-right:15px;
		text-align:justify;
   	}

   	.col2{
   		margin-top:10px;
   		width:23%;
		float:left;
		text-align:justify;
		margin-right:15px;
   	}

   	.col3{
   		margin-top:2px;
   		margin-right:15px;
   		width:23%;
		float:left;
		text-align:justify;
   	}

   	.col4{
   		margin-top:10px;
   		width:23%;
		float:left;
		text-align:justify;
		margin-right:15px;
   	}

   	.red{
   		background-color: red;
   		color:white;
   	}

   	.deals{
		width:300px;
		float:left;
		height:212px;
		margin-right:0px;

   	}

   	.moments{
   		width:75%
		float:left;
   	}

   	.split1{
   		-webkit-column-rule-style: dotted;
   		column-rule-style: dotted;
	  column-rule-width: 1px;
	  column-rule-color: black;
	  column-count:2;
	  -webkit-column-count:2;
	  border-right:3px solid gray;

   	}

   	.split2{
   		width:38%;
   		float:left;
   		height:212px;

   	}

   		.split3{
   		width:37%;
   		float:left;
   		height:212px;
   	}

   	.image7{
   		float:left;
   		width:12%;
   	}

   	.image7text{
   		margin-left:190px;
		 column-count:2;
	  -webkit-column-count:2;
	  border-right:1px dotted;
   	}

    .image8{
   		//float:left;
   		width:12%;
   		margin-left:400px;
   	}

   	.image8text{
   		margin-left:0px;
   		margin-right:200px;
		 column-count:2;
	  -webkit-column-count:2;
   	}

   	.matter2{
   		width: 403px;
    text-align: justify;
    margin-left: 10px;
    margin-bottom:0px;
     column-count:2;
	  -webkit-column-count:2;
   	}

   	.bold1{
   		text-indent:50px;
   		margin-bottom:5px;
   		font-weight:bold
   	}

   	.bold2{
   		font-size: 14;
   		margin-bottom:5px;
   		font-weight:bold;
   	}

   	.bold3{
   		font-size: 14;
   		margin-bottom:2px;
   		margin-top:2px;
   		font-weight:bold;
   		color:red;
   	}

   

