*{
 margin: 0px;
  padding: 0px;
}
#he1{
  text-align: center;
  font-size: 40px;
  color: rosybrown
}
p{
  font-size: 12px;
  text-align: justify;
}

td{
  padding-left:5px;
  padding-right: 5px;
  text-align: top;
}
#t3{
  border-top: 1px;
  border-style: dashed; 
 
}
#t31,#t32{
  border-right: 1px;
  border-right-style: dashed;
}
#titan{
  font-size: 25px;
  text-align: center;
}
#taly{
  font-size: 25px;
  text-align: center;
}
#infy{
  font-size: 40px;
  text-align: center;
}
#aai{
  font-size: 40px;
  text-align: center;
}
#bkb{
  font-size: 32px;
  text-align: center;
}
#infy{
  font-size: 40px;
  text-align: center;
}
#c1{
  padding-right:  5px;
  border-right: 1px;
  border-right-style: dashed;
}