body{
	margin-left: 20px;
	margin-right: 30px;
	font-family: "Times New Roman", Times, Serif;
}

#headername {
	font-family: "Times New Roman", Times, Serif;
	text-align: center;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 2px;
}



#leftpart{
	float: left;
	display: inline;
	margin-right: 10px;
	width: 35.0%;
	left:0px;
	padding-right:3px;
	border-right-style:dotted;
	border-right-width:1px;  
}

#rightpart{
	float: left;
	display: inline;
	margin-right: 10px;
	float : left;
	width: 60%;

}

#keralaman{
	position: relative;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	padding-bottom: 10px;

}





#articleheader{
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-weight: normal;
	font-family: "Times New Roman", Times, Serif;
}

#keralaman #imppoints p{
	margin: 5px 0px 0px;
	line-height: 1.0;
	font-size: 16px;
	text-align: left;
	display: block;

	
	border-top-style: none;

	border-bottom-style: solid;
	border-bottom-color: red;
	position: relative;
	width: 66%;
	top: 0px;
	left: 33%;

	margin-bottom: 8px;
	padding-bottom: 4px;
}

#keralaman #content{
	padding-top: 0px;
}

#content{
	display: block;
	-moz-column-count: 3;
	-moz-column-gap: 2px;
} 

#keralaman #content>p:first-of-type{
	margin-top: -80px;
}





#patnasedation{
	position: relative;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}


#patnasedation #imppoints h3{
	color: red;
	margin-top: 5px;
	margin-bottom: 5px;
} 

#patnasedation #imppoints{
	position: relative;
	width: 67%;
	left: 33%;

}


#patnasedation #imppoints p{
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#patnasedation p:first-of-type{
	margin-top: -210px;
}

#todaylast{
	position: relative;
	width: 100%;
	height: 400px;
	border-style: solid;
	border-width: 2px; 
		margin-top: 5px;
	background-color: black;
	color: white;
}

#todaylast h2{
	margin-top:0px;
	text-align: center;
	font-size: 38px;
	color: white;
}

#punemetro{
	width:100.4%;
	height: 680px;
	border-style: solid;
	border-width: 2px; 
		margin-top: 5px;
}



/*#todaylast fieldset{
	border-top-style: 0px solid;
	background-color: black;
}

#todaylast legend{
	color: white;
}*/



#houdinistunned{
	position: relative;
	display: inline;
}

#houdinistunned #imppoints h3{
	
	text-align: center;
}

.images #congressImage1{
	float: right;
	width: 50%;
}

.images #congressImage2{
	float: right;
	width: 25%;
}

.row{
	clear:both;
}
.images #congressImage1 p{
	margin-top: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#houdinistunned #content{
	-moz-column-count: 4;
	-moz-column-gap: 2px;
}


#houdinistunned #content p:first-of-type{
	margin-top: -270px;
}



#rightbottom #offguard{
	float:left;
	width:40%;
}

#rightbottom #offguard #imppoints{
	float:right;
	width:45%;
	font-weight: bold;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: red;
	padding-left: 8px; 
}
#rightbottom #offguard #imppoints p{
	margin: 0px;
}

#rightbottom #offguard #content{
	-moz-column-count: 2;
	-moz-column-gap: 5px;
}

#rightbottom #offguard #content p:first-of-type{
	margin-top: -160px;
}


#rightbottom #congmodi {
	float: left;
	width:20%;
} 

#rightbottom #congmodi #content{
	-moz-column-count: 1;
	padding-left: 5px;
}

#rightbottom #congmodi #articleheader{
	line-height: 0.9;
}

#rightbottom #congmodi img{
	float:left;
	margin: 5px; 
}

#rightbottom #tukiagreed{
	float:left;
	margin-left: 5px;
	width: 38%;
}

#rightbottom #tukiagreed #content{
	-moz-column-count: 2;

}


 .dropcap p:first-child:first-letter { 
	float: left;
 color: gray;
  font-size: 75px;
   line-height: 60px; 
   padding-top: 4px; 
   padding-right: 8px; 
   padding-left: 3px; 
   font-family: Georgia; 
}

#rightpart #rightlast {
	border-top-style:solid;
	border-top-width: 2px;
	border-left-width: 3px;
	padding-top: 2px; 
}

#rightpart #rightlast #leftside{
	float:left;
	width:40%;
	margin-right: 8px;
}

#rightpart #rightlast #rightside{
	float:left;
	width:57%;
}

#vallabhai{
	border-style: solid;
	border-width: 2px;
	height: 300px;
}

#MSME{
	border-style:solid;
	border-width: 2px;
	background-color:black;
	color: white;
	height: 400px; 
}

#purchase{
	border-style:solid;
	border-width: 2px;
	
	height: 250px;	
}

#karnat{
	border-style: solid;
	border-width: 2px;
	margin-bottom: 5px;
	height:550px;
}

#devanag{
	border-style: solid;
	border-width: 3px;
	height: 400px	
}








