SELECT	SOD.[SalesOrderID],
		SOD.[UnitPrice],
		SOD.[ProductID]

FROM	[NewAWAssignment].[SalesLT].[SalesOrderDetail] AS SOD,
		[NewAWAssignment].[SalesLT].[Product] AS P

WHERE	SOD.ProductID = P.ProductID AND 
		SOD.SalesOrderID IN (
			SELECT [SalesOrderID]
			FROM [NewAWAssignment].[SalesLT].[SalesOrderDetail]
			GROUP BY [SalesOrderID]

			HAVING	COUNT(ProductID) = 1
			)