SELECT	PR.[Name],
		C.[CompanyName]
      
FROM	[NewAWAssignment].[SalesLT].[ProductModel] AS PM,
		[NewAWAssignment].[SalesLT].[Product] AS PR,
		[NewAWAssignment].[SalesLT].[Customer] AS C,
		[NewAWAssignment].[SalesLT].[SalesOrderDetail] AS SOD,
		[NewAWAssignment].[SalesLT].[SalesOrderHeader] AS SOH

WHERE	PM.Name = 'Racing Socks' AND
		PM.ProductModelID = PR.ProductModelID AND
		PR.ProductID = SOD.ProductID AND
		SOD.SalesOrderID = SOH.SalesOrderID AND
		SOH.CustomerID = C.CustomerID


