SELECT	COUNT(DISTINCT P.ProductID) AS 'No. Of Crankset Products'

FROM	[NewAWAssignment].[SalesLT].[ProductCategory] AS PC,
		[NewAWAssignment].[SalesLT].[Product] AS P,
		[NewAWAssignment].[SalesLT].[SalesOrderDetail] AS SOD,
		[NewAWAssignment].[SalesLT].[SalesOrderHeader] AS SOH,
		[NewAWAssignment].[SalesLT].[Address] AS A,
		[NewAWAssignment].[SalesLT].[CustomerAddress] AS CA

WHERE	PC.ProductCategoryID = P.ProductCategoryID AND
		P.ProductID = SOD.ProductID AND
		SOD.SalesOrderID = SOH.SalesOrderID AND
		SOH.CustomerID = CA.CustomerID AND
		CA.AddressID = A.AddressID AND
		A.City = 'London' and
		PC.Name = 'Cranksets'
	