SELECT	SUM(SOH.SubTotal),A.CountryRegion
		
FROM	[NewAWAssignment].[SalesLT].[SalesOrderHeader] AS SOH LEFT OUTER JOIN 
		[NewAWAssignment].[SalesLT].[CustomerAddress] AS CA ON 
		SOH.CustomerID = CA.CustomerID 
		
		LEFT OUTER JOIN

		[NewAWAssignment].[SalesLT].[ADDRESS] AS A ON
		
		CA.AddressID = A.AddressID		
			
GROUP BY A.CountryRegion 

ORDER BY SUM(SOH.SubTotal) DESC