.fa-plus-circle {
  color: dodgerblue;
  font-size: 4em;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}


    .body-min-post {
      padding-top: 1em;
      background:  #e1e8f0;
      text-align: center;
    }	

    .card-min-post {
      background: #fff !important;
      box-shadow: 0 10px 20px rgba(0,0,10,0), 0 6px 6px rgba(0,0,2,0);
      box-shadow: 0 1px 1px rgba(77, 182, 172,0.2), 0 0 8px rgba(77, 182, 172,0.2);
    }
    .btn-min-post
    {
      color:black;
      margin: 2px;;
    }
    
    .img-min-post
    {
      max-height:150px;
      max-width: 150px;;
    }
.header{
    color: black;
}


.rzslider .rz-pointer {
  
    background: #6ed3cf;
}
.rz-bar.rz-selection
{
   background-color: #31708f !important;
}
    .card-header-min-post,.btn-min-post
    {
      background: #6ed3cf !important;
    }

    /* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
.ver-nav .ver-navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
   .ver-nav .ver-navbar ul  {
      float: none;
   }
   .ver-nav .ver-navbar ul:not {
      display: block;
   }
   .ver-nav .ver-navbar li {
      float: none;
      display: block;
   }

   .ver-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

/* Put any custom CSS you want for your menu when it is collapsed */
@media (max-width: 768px) {
   .ver-nav {
      
   }
}