.leftheader
{
	float:left;
	width:15%;
	margin-top:15px;
}
.numberheader
{
	background-color:lightcyan;
	font-size:30px;
	font-weight:bold
}
.rightheader
{
	float:left;
	width:15%;
	font-size:14px;
	margin-top:28px;
}
.border
{
	border-top: 0px;
	border-style: solid;

}
.logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.newsheading
{
	font-size:45px;
	color:white;
	letter-spacing: 5px;
}
.newssubheading
{
	font-size:25px;
	color:white;
	font-weight: bold;
}
.endaddress
{
	font-weight: bold-italic;
	text-align : right;

}
.footer1
{
	background-color:black;
	border-style: solid;
	border-color: black;
	border:1px;
	text-align:center;
	color: white;
}
.footer2
{
	background-color:silver;
	border-style: solid;
	border-color: black;
	border:1px;
	text-align:center;
	color: black;
}
.content1
{
	float:left;width:100%; height:400px; background-color:#ffff80; border-style:solid;
}
.content2
{
	float:left;width:100%; height:398px; background: linear-gradient(to right, pink, white);border-style:solid;border-color:pink;
}
.content3
{
	float:left;width:59%; height:800px; background-image:url('assets/b1.jpg'); background-size:     cover; 
    background-blend-mode : lighten;
    background-size : 1200px 500px;                     /* <------ */
    background-repeat:   no-repeat;
}
.content4
{
	background-color:#ffff80; border:solid; border-color:red; width:100%; height:255px
}
.content5
{
	width:100%; height:280px; background-color:#FFDEAD;
}