
table {
   border: 1px solid black;
   border-collapse: collapse;
   
}

.btn{
	width:100%;
	height:100%;
	background-color: #4CAF50;
}
.btn1{
	width:100%;
	height:100%;
	background-color: lightblue;
}

#tbl{
	height:300px;
	
}

#display{
	height:100%;
}