body
{
    background-color: green;
}
h1
{
    color:orange;
    text-align:center;
    font-size: 60px;
}
p
{
    color:blue;
    font-family:"Times New Roman";
    font-size:20px;
}
mitul{
    color:white;
    font-size: 50px;
}