<table class = "table table-bordered table-striped table-hover">
   <caption>Bordered Table Layout</caption>
   
   <thead>
      <tr>
         <th>BU Name</th>
         <th>Total</th>
         <th>Red</th>
         <th>Yellow</th>
         <th>Green</th>
      </tr>
   </thead>
   
   <tbody>
      <tr ng-repeat="project in projects" data-buid="{{project.bu.buid}}">
            <td><a ng-href="#/bu/{{project.bu.buid}}">{{project.bu.buname}}</a></td>
            <td>{{project.total}}</td>
            <td class='danger'>{{project.red}}</td>
            <td class='warning'>{{project.yellow}}</td>
            <td class='success'>{{project.green}}</td>
      </tr>
   </tbody>
	
</table>

<button type="button" class="btn btn-lg btn-success" data-animation="am-fade-and-scale" data-template-url="src/views/modals/admin-form-modal.html" bs-modal="modal">Add an User
</button>