<!DOCTYPE html>
<html>
<head>
<script src="angular.js"></script>
<script src="controller.js"></script>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="Search" >
<div ng-controller="SearchController">

	<input type="number" name="user_id" ng-model="user_id">
	<input type="text" name="Title" ng-model="title">
	<input type="submit" ng-click="takeSearch(user_id, title)" value="search" >
<div ng-init="takeSearch()">
<table>
<tr ng-repeat="video in searchResult">
<td>
{{video.video_id}}
{{video.user_id}}
{{video.approval_id}}
{{video.privacy}}
{{video.title}}
{{video.topic}}
{{video.event_id}}
{{video.statusFlag}}
{{video.url}}
</td>
</tr>
</table>
</div>
</div>

</body>
</html>