<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JNDI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <env-entry>
    <env-entry-name>sample</env-entry-name>
    <env-entry-type>java.lang.String</env-entry-type>
    <env-entry-value>1797</env-entry-value>
  </env-entry>
  <resource-env-ref>
    <resource-env-ref-name>jdbc</resource-env-ref-name>
    <resource-env-ref-type>java.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>
  <resource-ref>
    <description>Object factory for Student bean</description>
    <res-ref-name>
  		bean/StudentBeanFactory
  	</res-ref-name>
    <res-type>com.au.jndi.Student</res-type>
  </resource-ref>
  
  <resource-ref>
  <description>
    Resource reference to a factory for javax.mail.Session
    
  </description>
  <res-ref-name>
    mail/Session
  </res-ref-name>
  <res-type>
    javax.mail.Session
  </res-type>
  <res-auth>
    Container
  </res-auth>
</resource-ref>
  
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>management pages</web-resource-name>
      <url-pattern>/HelloWorld</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>tomcat</role-name>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/_loginfail.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>