USE MyAdventureWorks

 SELECT AddressLine1, AddressLine2, City, StateProvince, CountryRegion, PostalCode FROM Address INNER JOIN CustomerAddress
	ON Address.AddressID = CustomerAddress.AddressID INNER JOIN Customer
	ON CustomerAddress.CustomerID = Customer.CustomerID
WHERE CompanyName='Modular Cycle Systems'

USE MyAdventureWorks

SELECT OrderQty, Name, ListPrice FROM SalesOrderHeader INNER JOIN SalesOrderDetail 
	ON SalesOrderDetail.SalesOrderID = SalesOrderHeader.SalesOrderID INNER JOIN Product
	ON SalesOrderDetail.ProductID = Product.ProductID
WHERE CustomerID = 635

USE  MyAdventureWorks

SELECT DISTINCT CompanyName FROM CustomerAddress INNER JOIN Address
	ON Address.AddressID = CustomerAddress.AddressID INNER JOIN Customer
	ON Customer.CustomerID = CustomerAddress.CustomerID
WHERE City = 'Dallas'


USE  MyAdventureWorks

SELECT Customer.CompanyName  FROM Customer INNER JOIN SalesOrderHeader
	ON Customer.CustomerID = SalesOrderHeader.CustomerID
GROUP BY Customer.CustomerID, Customer.CompanyName
HAVING SUM( SalesOrderHeader.SubTotal + SalesOrderHeader.TaxAmt + SalesOrderHeader.Freight ) > 100000
