<div class="container" ng-controller="appController1">
    <script src="createNewSession.js">
    </script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
        document.getElementById("create").style.visibility = "hidden";
    </script>

    <div class="row text-center well">
        <h1>Create New Session</h1>
    </div>

    <div class="row well">
        <div class="form-group">
            <label for="Session_Name">Name of the Session</label>
            <input type="text" class="form-control" id="sessionName" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="TrainerID">ID of the Trainer</label>
            <select ng-model="MyTrainerID" class="form-control">
                <option ng-repeat="x in alluserdata" value="{{x.userID}}">{{x.userID}} - {{x.userName}}</option>
            </select>
            <!-- <input type="hidden" class="form-control" id="trainerID" placeholder="ID"> -->
        </div>
        <div class="form-group">
            <label for="Date">Date of the Session</label>
            <input type="date" class="form-control" id="date" placeholder="YYYY-MM-DD">
        </div>
        <div class="form-group">
            <label for="Start_Time">Session starts on</label>
            <input type="text" class="form-control" id="startTime" placeholder="hh:mm:ss.ss">
        </div>
        <div class="form-group">
            <label for="End_Time">End_Time</label>
            <input type="text" class="form-control" id="endTime" placeholder="hh:mm:ss.ss">
        </div>
        <button style="background-color:#34495e;" type="submit" ng-click="create()" class="btn btn-success">Create</button>
    </div>
</div>



<!-- Include all compiled plugins (below), or include individual files as needed -->