<div class="container">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <div class="row text-center well">
        <h1>Invite Trainee</h1>
    </div>

    <div class="row" ng-repeat="x in alluserdata">
        <div class="col-md-5">
            <span class="label label-warning"> {{x.userID}} )</span>
            <span class="label label-default">{{x.userName}} </span>
            <br>
            <span class="label label-info">{{x.userEmail}}</span>
            <br>
            <br>
        </div>
    </div>

    <div class="well">
        <div class="form-group">
            <label for="SessionID">SessionID</label>
            <select ng-model="InviteSessionID" class="form-control">
                <option ng-repeat="x in fetchSessionsAdmin" value="{{x.sessionID}}">{{x.sessionID}}-{{x.sessionName}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" class="form-control" ng-model="InviteEmail">
        </div>
        <button style="background-color:#34495e;" type="submit" class="btn btn-success" ng-click="sendInvite()">Send</button>
    </div>
</div>