* {
	box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.center{
	text-align: center;
}
[class*="col-"] {
    float: left;
    padding: 5px;
}

img {
    width: 100%;
    height: auto;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.majorContainer{
	height:100%;
}

.font-times{
	font-family:"Times New Roman";
}

.font-verdana{
	font-family:"Verdana";
}

.non-block{
	font-weight: normal;
}

.margin-less{
	margin: 1px;
}

.big-heading{
	font-size:2.5em;
}

.small-heading{
	font-size:0.9em; 
}

.red-heading{
	color: red;
}

#topInternalContainer1:before {
  content: ' ';
  display: table;
  width: 10em;    /* Min width required */
}

.dotted-up{
	border-top:1px dotted;
}



.column {
  break-before: column;
  break-after: column;
}

.content{
	text-align: justify;
    text-justify: inter-word;
}

@media only screen and (min-width: 768px){
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-45 {width: 37%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-75 {width: 60.67%; border-right:1px dotted;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-cust-20{ width: 20% }

.col-cust-24{ width: 24% }

.col-cust-40{ width: 40% }


.col-cust-16{ width: 16% }
.col-m-content{display: none;}
#article1{
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
    column-gap: 15px;
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    margin-top: 20px;
}
#times{
	margin-left:-25%;
	width:170%;
}
.col-2-split{
    -webkit-column-gap: 15px; /* Chrome, Safari, Opera */
    -moz-column-gap: 15px; /* Firefox */
    column-gap: 15px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

}
@media only screen and (max-width: 768px){
.content{display: none;}
.col-m-content{display: normal;}
}

p:first-child:first-letter{
	float: left;
	color: #AAA;
	font-size: 37px;
	line-height: 30px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
}


.heart {
    position: relative;
    width: 10px;
    height: 9px;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  background: rgba(255,255,255,0.5);
}

blockquote:before {
  color: #f00;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}