h1 {
	text-align: center;
	margin: 0px;
    font-family: sans-serif;
}
header *{
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	margin-bottom: 8px;
}

header table{
	width: 100%;
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header td {
	width: 33%;
}

header table td:nth-child(2) {
	text-align: center;
}

header table td:nth-child(3) {
	text-align: right;
}

head h6 {
	font-weight: 100;
}
.timesRed {
	color: red;
}

.block1 {
	float: left;
	width: 829px;
	height: 815px;
}
.block2 {
	float: left;
	/*border: 1px solid black;*/
	width: 500px;
	height: 0px;
}

.block1 aside {
	float: left;
	/*border: 1px solid black;*/
	width: 160px;
}

.articleHead {
	text-align: center;
	font-family: sans-serif;
}

.block1 aside h3 {
	color: #878787;
	font-size: 1.23em;
	margin: 0px;
}

.block1 h6, .block2 h6 {
	font-size: 0.67em;
    margin: 8px 0px;
}

h6 span {
	font-weight: 100;
    font-size: 1em;
}

p {
    text-align: justify;
    font-size: 0.8em;
    text-indent: 20px;
    margin-bottom: 0px;
    margin-top: 0.8px;
}

.firstPara {
	text-indent: 0px;
}

.article1 {
	float: right;
	width: 658px;
}

.article1 h1 {
    font-size: 3em;
}

.article1 h3 {
	font-size: 1.23em;
	margin: 0px;
}
.article1 .divCol1 {
	float: left;
    width: 154px;
    height: 440px;
    margin:0px 5px;
}
.article1 .divCol2 {
	float: left;
	width: 314px;
	column-count: 2;
	column-gap: 10px;
	margin:4px 5px;
	height: 240px;
}
.article1 .divCol3 {
	float: right;
	width: 154px;
	height: 440px;
	margin: -196px 5px;
}
.article1 .imageDiv {
	float: left;
	width: 314px;
	margin:0px 5px;
	border-bottom: 2px solid;
}

.article1 .imageDiv p {
	padding: 0px 5px;
	font-family: sans-serif; 
}

.article1 .imageDiv p font {
	color: red;
	font-weight: bold;
}
.article1 .divCol2 .firstPara {
	margin-top: 0px;
}
.article1 .divCol3 .firstPara {
	margin-top: 0px;
}
.article2 > div{
	column-count: 4;
	column-gap: 10px;
	width: 650px;
    margin: 0px 0px;
    padding: 0px 9px;
    height: 220px;
}

.article2 h1, .article3 h1{
    font-size: 2.35em;
    font-family: serif;
}

.article3 {
	border: 1px solid;
	height: 620px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.article3 .imageDiv {
	float: left;
	width: 328px;
	margin-top: 2px;
}

.article3 .imageDiv .articleImg {
	float: left;
	height: 133px;
    width: 126px;
}

.article3 .imageDiv p {
	font-weight: bold;
    font-size: 0.9em;
    float: left;
    width: 180px;
    font-family: sans-serif;
    border-bottom: 3px solid;
    margin-left: 20px; 
}

.article3 .divCol1 {
	float: left;
    width: 150px;
    height: 535px;
    margin:0px 5px;
}
.article3 .divCol2 {
	float: left;
	width: 326px;
	column-count: 2;
	column-gap: 10px;
	margin: 9px 5px 0px 5px;
    height: 390px;
}

.article3 .imageDiv p img {
	width: 30px;
    height: 20px;
}

.article3 .imageDiv p span {
	font-weight: 100;
}

.article4 {
	float: left;
	border-right: 1px dotted;
	height: 600px;
	margin-left: 5px;
	width: 332px;
	padding-right: 5px;
}

.article4 h1 {
	border-left: 1px dotted;
}

.article4 h1,.article6 h1 {
    font-size: 2.3em;
    font-family: inherit;
}

.article4 h6 {
	text-align: left;
    font-size: 0.8em;
}

.article4 > div {
	column-count: 2;
	column-gap: 10px;
	height: 490px;
}

.bigT {
	float: left;
    font-size: 3em;
    color: gray;
    line-height: 37px;
}

.article5 {
	float: left;
	height: 600px;
	margin-left: 2px;
	width: 155px;
}

.article5 h1,.block3 .subBlock1 h1,.block3 .subBlock2 h1,.block3 .subBlock3 h1 {
    font-size: 1.3em;
}

.article5 img {
	float: right;
	margin: 0px 4px;
	border: 0.5px solid;
}

.article6 {
	clear: both;
	border-top: 1px dotted;
	position: relative;
    top: 10px;  
}

.article6 .divCol1 {
	float: left;
    width: 154px;
    height: 314px;
    margin: 0px 5px;
}
.article6 .divCol2 {
	float: left;
    width: 160px;
    margin: 4px 5px;
    height: 120px;
}
.article6 .divCol3 {
	float: right;
    width: 154px;
    height: 314px;
    margin: -190px 5px;
}
.article6 .imageDiv {
	float: left;
	width: 161px;
	margin:0px 5px;
	border-bottom: 2px solid;
}

.article6 .imageDiv p {
	padding: 0px 5px;
	font-family: sans-serif; 
}

.article6 .imageDiv p font {
	color: red;
	font-weight: bold;
}
.article6 .divCol2 .firstPara {
	margin-top: 0px;
}
.article6 .divCol3 .firstPara {
	margin-top: 0px;
}

.block3 {
	border-top: 1px solid;
	border-right: 1px solid;
	width: 655px;
    height: 1192px;
    float: left;
}

.block3 section {
	margin-top: 10px;
	border: 1px solid;
	width: 640px;
	height: 1162px;
}

.sectionHeader {
	border-bottom: 3px solid;
	border-color: red;
	padding-top: 3px;
	margin-bottom: 5px;
}

.sectionHeader table {
	width: 100%;
}

.sectionHeader td {
	padding: 0px;
}

.sectionHeader td:last-child {
	text-align: right;
}

.sectionHeader h1 {
	text-align: left;
}

.sectionHeader h4 {
	margin: 0px;
	font-family: sans-serif;
}

.block3 .subBlock1 {
	float: left;
	border-right: 1px solid;
	width: 370px;
    height: 832px;
}

.block3 .subBlock2 {
	float: left;
    width: 265px;
	height: 0px;
}

.block3 .subBlock3 {
	float: left;
	position: relative;
	left: 10px;
	border-top: 1px solid;
	width: 95%;
	margin-top: 15px;
}

.article7 {
	width: 95%;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.article7 div {
	float: right;
    width: 220px;
    margin: 0px 5px;
    padding-left: 5px;
}

.block3 .bigT {
	color: black;
}

.article8 {
	width: 95%;
}

.article8 .imageDiv {
	float: right;
    width: 220px;
    margin: 0px 5px;
    padding-left: 5px;
}

.article8 .divCol1 {
	float: left;
	width: 116px;
}

.article8 .divCol2 {
	float: left;
	width: 220px;
	margin: 5px 5px 0px 5px;
    padding-left: 5px;
}

.article9 {
	clear: both;
	width: 95%;
	border-top: 1px solid;
	padding: 0px 5px;
}

.article9 div {
	float: right;
    width: 220px;
    margin: 0px 5px;
    padding-left: 5px;
}

.article10 {
	width: 95%;
	border-bottom: 1px solid;
	padding-bottom: 5px;
}

.article10 .imageDiv p {
	border-bottom: 1px solid;
}

.article11 {
	width: 95%;
	padding-bottom: 5px;
}

.article11 .imageDiv p {
	border-bottom: 1px solid;
}

.block3 .subBlock3 .divCol1 {
	float: left;
	width: 116px;
	margin-right: 5px;
}

.block3 .subBlock3 h1 {
	float: left;
	margin-left: 10px;
}
.block3 .subBlock3 .imageDiv {
	float: left;
	width: 360px;
	margin: 0px 5px;
	border-bottom: 1px solid;
}
.block3 .subBlock3 .divCol2 {
	float: left;
	width: 360px;
	margin: 0px 5px;
}
.block3 .subBlock3 .divCol3 {
	float: left;
	width: 116px;
	position: relative;
	top: -222px;
}

.asideCenter1 {
	width: 150px;
	position: absolute;
    top: 870px;
    left: 680px;
    border: 1px solid;
}

.asideCenter1 center {
	padding: 5px;
}

.asideCenter1 center > h1 {
	border-bottom: 3px solid;
	border-color: red;
	padding-top: 3px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 1.1em;
}

.asideCenter1 div h2 {
	font-size: 1em;
	text-align: left;
}

.asideCenter1 div h1 {
	font-size: 1.1em;
	text-align: left;
}

.asideCenter1 div {
	text-align: left;
	font-family: sans-serif;
	font-size: 0.8em;
}

.asideCenter2 {
	width: 150px;
	position: absolute;
    top: 1530px;
    left: 680px;
    background-color: #75FFA5;
    height: 160px;
}

.asideCenter2 div h6 {
	text-align: center;
    color: red;
    margin: 0px;
}

.asideCenter2 div ul {
	margin: 0px;
	font-size: 0.8em;
    padding: 0px 18px;
    border-bottom: 1px solid;
}

.asideCenter2 div p {
	font-size: 0.8em;
	font-family: sans-serif;
	text-indent: 0px;
}

.block4 {
	border-top: 1px solid;
    border-right: 1px solid;
    width: 395px;
    height: 350px;
    float: left;
    position: relative;
    top: 845px;
}

.block4 article {
	border: 2px solid;
	margin: 5px;
	height: 340px;
}

.block5 {
	border-top: 1px dotted;
    border-bottom: 2px solid;
    width: 260px;
    height: 350px;
    float: left;
    position: relative;
    top: 845px;
    left: 2px;
    margin: 0px 5px;
}

.block5 h6 {
	margin: 5px;
    text-align: center;
    font-family: sans-serif;
}