div {
	//background-color: #ccc;
	//border: 1px solid black;

}


.row:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.row { display: inline-block; }
/* start commented backslash hack \*/
* html .row { height: 1%; }
.row { display: block; }
/* close commented backslash hack */
}

.container {
	padding: 10px;
}

.fl{
	float:left;
}

.red{
	color:red;
}
.logo {
	text-align: center;
}

.w10{
	width: 10%;	
}

.w20{
	width: 20%;
}

.w30{
	width: 30%;
}

.w40{
	width: 40%;
}

.w50{
	width: 50%;
}

.w60{
	width: 60%;
}

.w70{
	width: 70%;
}

.w80{
	width: 80%;
}

.w90{
	width: 90%;
}

.w100{
	width: 100%;
}

.w14{
	width:14%;
}

.w13{
	width:13%;

}
.w25{
	width:25%;

}
.w75{
	width:75%;

}
.w17{
	width:17%;
}
.w33{
	width:33%;
}
.w66{
	width:66%;
}
.w28{
	width:28%;
}
.topleft {
	border-right:5px solid red;
	text-align:right;
	font-size: 9px;
	padding:5px;
	margin-top:20px;
}

.topright{

	border-left:5px solid red;
	text-align:left;
	font-size: 9px;
	padding:5px;
	margin-top:20px;
}

header img {
	width: 60px;
	margin-top:10px;
}

.banner div{
	height:100px;
	//background-color: blue;
	border: 1px solid #777;
}

.banner div p {
	font-size: 10px;
	padding:5px;
}
.ttcl {
	text-transform: uppercase;
}

.mainbody p{
	text-align: justify;
	font-size: 11px;
}
div p {
	padding: 0px 5px;
}

.tac{
	text-align: center;
}
h1,h2,h3{
	margin-bottom: 8px;
	margin-left: 10px;
}

.banner h3 {
	font-family: verdana;
	margin: 0px;
}


.blue-section h2{
	margin: 0px;
}