
table {
   border: 1px solid black;
   border-collapse: collapse;
}

.btn{
	width:100%;
	height:100%;
	color : blue;
	border-color : green;
}

#tbl{
	margin-top : 30px;
	height:500px;
	width : 500px;
	border-style : solid;
	padding: 5px;
	position : absolute;
	left : 425px;
	
	
}

#display{
	height:100%;
}