



<div class="row" ng-controller="adminCtrl">
  <div class="row">
      <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="col-md-4">
        <div class="bootstrap-vertical-nav ver-nav">
          <nav class="navbar navbar-light bg-faded ver-navbar">
            <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
              <a class="navbar-brand" href="#">Admin functions</a>
            </div>
            <div>
              <div><button type="button"  class="btn  btn-block active  btn-min-post"  ng-click = "loaddiv(0)">Add Category</button></div>
              <a>
                <div><button type="button"  class="btn  btn-block btn-min-post"  ng-click = "loaddiv(1)">Add Location</button></div>
              </a>
              <div><button type="button"  class="btn  btn-block btn-min-post "   ng-click = "loaddiv(2)">Make Admin</button></div>
              <div><button type="button"  class="btn  btn-block btn-min-post"  ng-click = "loaddiv(3)">BlackList</button></div>
                <div><button type="button"  class="btn  btn-block btn-min-post"  ng-click = "loaddiv(4)">Un BlackList</button></div>
            </div>
          </nav>
        </div>
      </div>
        
        
        
        
        
        
      <div class="col-md-5" id="content" ng-if="flag[0]">
        <div class="form-group">
          <div class="row">
              <div class="col-md-3"></div>
            <div class="col-md-6">
            <input type="text" class="form-control tex" placeholder="Enter new category" ng-model= '$parent.newcategoryname' uib-typeahead="cat.categoryname for cat in $parent.categories | filter:$viewValue | limitTo:5" typeahead-editable="true"  />
            </div>
              <div class="col-md-3"></div>
              

          </div>
          <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><div   ng-click="$parent.addCategory()" class="btn btn-block btn-min-post">Add Category</div></div>       <div class="col-md-4"></div>

          </div>
         </div>
       </div>
        
        
        
        
        
        
        
      <div class="col-md-5" id="content" ng-if="flag[1]">
      
        <div class="form-group">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="text" class="form-control tex" placeholder="Enter new location" ng-model= '$parent.newlocationname' uib-typeahead="loc.locationname for loc in $parent.locations | filter:$viewValue | limitTo:5" typeahead-editable="true" />
              </div>
              <div class="col-md-3"></div>
          </div>
       <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><div   ng-click="$parent.addLocation()" class="btn btn-block btn-min-post">Add Location</div></div>       <div class="col-md-4"></div>

          </div>
       
      </div>
      
    </div>
        
        
        
        
        
        
        
        
        
        
        
        
    <div class="col-md-5" id="content" ng-if="flag[2]">
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="text" class="form-control tex" placeholder="Select user to make admin" ng-model= 'filterforadmin' uib-typeahead="user.username for user in $parent.users | filter:$viewValue | limitTo:5" typeahead-editable="false" typeahead-input-formatter="$parent.formatAdminUser($model)" />
              </div> 
              </div>
              <div class="col-md-3"></div>
          </div>
       <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><button class="btn btn-min-post btn-block" ng-if="$parent.userforadmin" value="Make Admin" ng-click="$parent.makeAdmin()">Make Admin</button></div>       <div class="col-md-4"></div>

          </div>
        
      </div>
    
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    <div class="col-md-5" id="content" ng-if="flag[3]">
        <div class="form-group">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="text" class="form-control tex" placeholder="Select user to Blacklist" ng-model= 'filterforblacklist' uib-typeahead="user.username for user in $parent.users | filter:$viewValue | limitTo:5" typeahead-editable="false" typeahead-input-formatter="$parent.formatBlacklistUser($model)" />
              </div> 
              </div>
              <div class="col-md-3"></div>
          </div>
       <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><button class="btn btn-min-post btn-block" ng-if="$parent.userforblacklist" value="Blacklist" ng-click="$parent.blacklist()">Blacklist</button></div>       <div class="col-md-4"></div>

          </div>
    </div>
        
    <div class="col-md-5" id="content" ng-if="flag[4]">
        
               <div class="form-group">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <input type="text" class="form-control tex" placeholder="Select user to Remove from blacklist" ng-model= 'filterforblacklist' uib-typeahead="user.username for user in $parent.blacklists | filter:$viewValue | limitTo:5" typeahead-editable="false" typeahead-input-formatter="$parent.formatUnblacklistUser($model)" />
                    
              </div> 
              </div>
              <div class="col-md-3"></div>
          </div>
       <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><button class="btn btn-min-post btn-block" ng-if="$parent.userforunblacklist" value="Remove Blacklist" ng-click="$parent.unblacklist()">UnBlacklist</button></div>       <div class="col-md-4"></div>

          </div>
    </div>    
        
        
        
        
        
        
  
    <div class="cosl-md-3"></div>
  </div>
</div>
</div>
