
<p class=.line></p>
<!--<div>
    <div class='col-lg-3'>
        <img src="img/logo.png">
    </div>
    <div class='col-lg-5 heading' >
		<center>
      		<h2>AdPortal</h2>
		</center>
    </div>      
</div>-->
<nav class="navbar navbar-default" style="height=40px">
  <div class="container-fluid">
    <div class="navbar-header">
          <a class="navbar-brand" href="#/"><img src="img/logo.png"></a>
    </div>
    <div class="navbar-header" style="text-align:center;width:70%">
          <h1> Ad Portal</h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" >{{name}}
        <span class="glyphicon glyphicon-user"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#/profile">My Profile</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
      </li>                 
        
<!--      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>-->
    </ul>
  </div>
</nav>