<!--<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
          Email: {{contactDetails.email}} <br/>
          Mobile: {{contactDetails.mobile}}<br/>
          Send message(by email): <input type="text" ng-model="contactDetails.message" min=25 > <br/>
          <button type="button" class="btn btn-default" ng-click="$parent.contact()">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
              Send Mail
          </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>-->
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-bind="title">CONTACT</h4>
      </div>
      <div class="modal-body">
          
          <div class="row">
          <div class="col-md-2">Email:</div>
        <div class="col-md-5">{{contactDetails.email}}</div>
 
          </div>
          
          
           <div class="row">
          <div class="col-md-2"> Mobile:</div>
        <div class="col-md-5">{{contactDetails.mobile}}</div>
          </div>
          <div class="row">
            <div class="col-md-2">Message:</div>
        <div class="col-md-10"><input type="text" placeholder="Oprional" ng-model="contactDetails.message" min=25 > </div>
          </div>
           
        <br><br>
      <div class="modal-footer">
          
                    <button type="button" class="btn btn-default" ng-click="contact()">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>Send Mail</button>

        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
          
      </div>
    </div>
  </div>
</div>
</div>