
<div ng-controller="homeCtrl">
<br/><br/>
<div class="table-responsive">
    <table class="table">
        <tr>
            <td class="col-md-1">
                <input type="text" ng-model="title" placeholder="Title..." >
            </td>
            <td class="col-md-1">
                <button type="button" class="btn btn-default" ng-model="category" bs-options="cat.categoryid as cat.categoryname for cat in categories" placeholder="Category" bs-select/>
            </td>
            <td class="col-md-1">
                <button type="button" class="btn btn-default" ng-model="location" bs-options="loc.locationid as loc.locationname for loc in locations" placeholder="Location" bs-select/>
            </td>
            <td class="col-md-7">
                  Price range: <rzslider rz-slider-model="min"
                      rz-slider-high="max"
                          rz-slider-options="sliderOptions"></rzslider>     
            </td>
            <td class="col-md-1">
                <input type="button" name="Search" value="Search" ng-click="getAllPosts()">
            </td>
            <td class="col-md-1">
                <input type="button" name="Reset" value="Reset" ng-click="reset()">
            </td>
        </tr>
    </table>
   
    <div ng-repeat="post in posts">     

               <min-post post = post> </min-post></div>
    </div>
    <div style="position: fixed; right: 5%; bottom: 5%;"> <a href="#/new"> <i class="fa fa-plus-circle" aria-hidden="true"> </i> </a> </div>
    
<!--    <a href="#/new"><button style="position: fixed; right: 5%; bottom: 5%;"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add new </button></a>-->
    
</div>