<div class="card card-outline-primary card-min-post">
    <div>
    <a  ng-click="$parent.showPopup(post.postid)" class="header">
          <h3  class="card-header card-header-min-post  card-inverse ">{{post.title}}</h3>
    </a>
    </div>
        <div class="card-block">
            <h4 class="card-title">BY {{post.username}} </h4>
            <h6 class="card-subtitle text-muted"> {{post.category}}, {{post.location}} </h6>
          </div>
          
          
          
          
          <div class="card-block">
            <div class="row">
              <div class="col-md-8">
                <img class=img-min-post src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQKRwKiFumRO15X_ag2MTij8HFEEvLz9bwTSPMxkyR8VMc0C-PL" alt="Card image">
              </div>
              <div class="col-md-3">
                <div class=row>
                  <a href="#/contact/{{post.postid}}" class="btn  btn-block btn-min-post">contact</a></div>
                  <div class=row>
                    <a ng-if="$parent.$storage.isAdmin || $parent.$storage.id.trim() === post.userid.trim()" href="#/edit/{{post.postid}}" class="btn  btn-block btn-min-post">edit</a> </div>
                    <div class=row>
                      <a ng-click="$parent.deletepostbyid(post.postid)" href="#" class="btn  btn-block btn-min-post">delete</a>
                    </div></div>
                  </div>
                </div> 
                
                
                
                

                

              </div>
                
        