<!--
 <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="card">
            <h3 class="card-header"><label ng-click="$parent.showPopup(post.postid)">{{post.title}}</label></h3>
          <div class="card-block">
            <h4 class="card-title">BY {{post.username}} </h4>
            <h6 class="card-subtitle text-muted"> {{post.category}}, {{post.location}} </h6>
          </div>
          <img src="http://www.gettyimages.pt/gi-resources/images/Homepage/Hero/PT/PT_hero_42_153645159.jpg" style="width:200px;height:200px"alt="Card image">
          <div class="card-block">
            <p class="card-text">{{post.description}}</p>
              
        <div ng-if="$parent.$storage.isAdmin || $parent.$storage.id.trim() === post.userid.trim()"><div href="#/edit/{{post.postid}}" class="btn btn-primary">Edit</div></div>
              
        <div ng-if="$parent.$storage.isAdmin || $parent.$storage.id.trim() === post.userid.trim()">
    <div ng-click="$parent.$parent.deletepostbyid($parent.post.postid)"  class="btn btn-primary">Delete</div></div>
             <div ng-if="$parent.$storage.id.trim() !== post.userid.trim()">
    <div ng-click="$parent.$parent.contactPopup($parent.post.postid)"  class="btn btn-primary">Contact</div></div> 
          </div>
        </div>        
      </div>
    </div>

  </div>
-->




  <div class="container-fluid" style="float:left">
    <div class="row">
      
        <div class="card card-outline-primary">
          <h3 class="card-header  card-inverse "><label ng-click="$parent.showPopup(post.postid)">{{post.title}}</label></h3>
          <div class="card-block">
            <h4 class="card-title">BY {{post.username}} </h4>
            <h6 class="card-subtitle text-muted"> {{post.category}}, {{post.location}} </h6>
          </div>
          
          
          
          
          <div class="card-block">
            <div class="row">
              <div class="col-md-8">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQKRwKiFumRO15X_ag2MTij8HFEEvLz9bwTSPMxkyR8VMc0C-PL" alt="Card image">
              </div>
              <div class="col-md-3">
               
                 <div><a ng-click="$parent.$parent.contactPopup($parent.post.postid)"  class="btn btn-primary">Contact</a></div>
        
                  <div ng-if="$parent.$storage.isAdmin || $parent.$storage.id.trim() === post.userid.trim()"><a href="#/edit/{{post.postid}}" class="btn btn-primary">Edit</a></div>
        
                  
                  <div ng-show="$parent.$storage.isAdmin || $parent.$storage.id.trim() === post.userid.trim()">
    <a ng-click="$parent.$parent.deletepostbyid($parent.post.postid)"  class="btn btn-primary">Delete</a></div>
        
                   </div>
                  </div>
                </div> 
                
                
                
                

                

              </div>
            </div>     

          </div>

        
