<div class="col-md-7 col-md-offset-2" ng-controller="newPostCtrl">
 <h4> Add new post </h4>
    <form name="form" novalidate>
        <fieldset>
            
<!--            <div ng-class="{ 'has-error': form.subject.$invalid && form.subject.$dirty }">-->
            <div class="form-group" show-errors>
                <input type="text" name="title" ng-model="title" id="title" class="form-control tex" placeholder="Enter the title" ng-model="text" required/>
            </div>
        </fieldset>
        
        <fieldset class="form-group">
<!--
            
            </div>
-->
             <div>
                 <input type="text" class="form-control tex" placeholder="Category" ng-model= 'filtercategoryname' uib-typeahead="cat.categoryname for cat in categories | filter:$viewValue | limitTo:5" typeahead-editable="false" typeahead-input-formatter="formatCat($model)" />
                       <!-- <button type="button" class="btn btn-min-post " ng-model="category"
						bs-options="cat.categoryid as cat.categoryname for cat in categories"
						placeholder="Category" bs-select="" style="margin-bottom:5px;" />-->
            </div>
        </fieldset>
        
        
        <fieldset>
             <div>
                 <input type="text" class="form-control tex" placeholder="Location" ng-model= 'filterlocationname' uib-typeahead="loc.locationname for loc in locations | filter:$viewValue | limitTo:5" typeahead-editable="false" typeahead-input-formatter="formatLoc($model)" />
                        <!--<button type="button" class="btn   btn-min-post" ng-model="location"
						bs-options="loc.locationid as loc.locationname for loc in locations"
						placeholder="Location" bs-select />-->
                        </div>
        </fieldset>
        
        
        <fieldset>
            <div class="form-group" show-errors>
                <div class="tex">
                <textarea name="description" ng-model="description" class="form-control tex"  placeholder="Enter the description" rows=3 cols="120" required></textarea></div>
            </div>
        </fieldset>
        <fieldset>
            <label class="tex" for="price">Price</label>
            <div class="form-group tex">
                <input type="number" name="price" id="price" class="form-control tex" min="0" max="1000000" placeholder="Enter Price" ng-model="price"/>
            </div>
        </fieldset>
        <fieldset>
            <label class="tex" for="file">Attach files</label>
            <input type="file" onchange="angular.element(this).scope().upload(files)" class="form-control-file" id="file" />
            <!--<input style="margin-bottom:10px" type="file" onchange="angular.element(this).scope().upload(files)" class="form-control-file tex " id="file" multiple/>-->
        </fieldset>
        <input type="submit" class="btn  btn-min-post" ng-disabled="userForm.$invalid" ng-click="submit()" value="Submit"/>
        <input type="reset" class="btn  btn-min-post" ng-click="reset()" value="Reset"/>
        
    </form>
<!--    <a href="#/">back</a>-->
</div>